name: pr_example

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
    paths:
      - '**.php'
      - '**.phtml'
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  pr_example:
    runs-on: ubuntu-latest
    steps:
        - uses: 8BitJonny/gh-get-current-pr@2.2.0
          id: PR

        - if: steps.PR.outputs.pr_found == 'true'
          env:
            # JSON object with the full PR object
            # toJSON(fromJSON(...pr)) parses it into memory and then format is with pretty-print.
            prJSON: ${{ toJSON(fromJSON(steps.current_pr.outputs.pr)) }}
            # Direct access to common PR properties
            prNumber: ${{ steps.PR.outputs.number }}
            prUrl: ${{ steps.PR.outputs.pr_url }}
            prTitle: ${{ steps.PR.outputs.pr_title }}
            prBody: ${{ steps.PR.outputs.pr_body }}
            prCreatedAt: ${{ steps.PR.outputs.pr_created_at }}
            prMergedAt: ${{ steps.PR.outputs.pr_merged_at }}
            prClosedAt: ${{ steps.PR.outputs.pr_closed_at }}
            prLabel: ${{ steps.PR.outputs.pr_labels }}
          name: "PR ${prNumber} ${prTitle} at ${prUrl} is ${prJSON}"
          run: |
            echo "prJSON: $prJSON
            echo "--"
            echo "prNumber: $prNumber"
            echo "--"
            echo "prUrl: $prUrl"
            echo "--"
            echo "prTitle: $prTitle"
            echo "--"
            echo "prBody: $prBody"
            echo "--"
            echo "prCreatedAt: $prCreatedAt"
            echo "--"
            echo "prMergedAt: $prMergedAt"
            echo "--"
            echo "prClosedAt: $prClosedAt"
            echo "--"
            echo "prLabel: $prLabel"
